<div class="container mb-page">


    <div class="row">
        <div class="attemptedCallContainer">
            <div class="row quote">
                <div class="col-sm-12">
                    <h2>Lowest Rates <span class="badge">{{ ExchangeController.destinations.length || 0 }}</span>
                    </h2>
                    <hr/>
                    <div class="col-sm-4" ng-repeat="dest in ExchangeController.destinations">
                        <div class="panel panel-success">
                            <div class="panelHeader">
                                <h3 class="panel-title">{{ ::dest.name }}</h3>
                            </div>
                            <div class="panel-content">
                                <p class="text-center">
                                    <span style="font-size: 150%">{{ ::dest.rate }}</span>
                                    <span class="text-muted">WEI per SECOND</span>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <span class="text-muted">Provider:</span> {{ ExchangeController.getPrettyRateCard(dest.rateCard) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row quote">
                <div class="col-sm-12">
                    <h2>All Rate Providers <span class="badge">{{ ExchangeController.rateCardCount || 0 }}</span></h2>
                    <hr/>
                    <div class="col-sm-6" ng-repeat="rateCard in ExchangeController.rateCards">
                        <div class="panel panelProvider">
                            <div class="panel-heading providerHead">
                                <h3 class="panel-title">{{ ::rateCard.name }}</h3>
                            </div>
                            <div class="panel-content">
                                <br/>

                                <div class="text-center loading" ng-show="!rateCard.destinations">
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                </div>

                                <p class="text-center">
                                    <span ng-repeat="destination in rateCard.destinations">
                                        <span>{{::destination.name}} ({{::destination.countryCode}})</span>
                                        <span style="font-size: 150%">{{::destination.rate}}</span>
                                        <span class="text-muted">WEI per SECOND</span>
                                        <br/>
                                    </span>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <span class="text-muted">Domain:</span> {{ ::rateCard.domain }}
                                <!--<span class="text-muted">Quality:</span> <span-->
                                    <!--class="badge">{{ ::rateCard.quality }}</span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>