<div class="container mb-page">

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 attemptedCallContainer">
            <h3>Lowest Rates</h3>
            <hr/>
            <div ng-repeat="dest in ExchangeController.destinations">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ ::dest.name }}</h3>
                    </div>
                    <div class="panel-content">
                        <p class="text-center">
                            <span style="font-size: 150%">{{ ::dest.rate }}</span>
                            <span class="text-muted">WEI per SECOND</span>
                        </p>
                    </div>
                    <div class="panel-footer">
                        <span class="text-muted">Provider:</span> {{ ExchangeController.getPrettyRateCard(dest.rateCard)
                        }}<br/>
                        <!--<span class="text-muted">Quality:</span> <span class="badge">{{ dest.quality }}</span><br/>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 attemptedCallContainer">
            <h3>All Rate Providers <span class="badge">{{ ExchangeController.rateCardCount }}</span></h3>
            <hr/>
            <div ng-repeat="rateCard in ExchangeController.rateCards">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ rateCard.name }}</h3>
                    </div>
                    <div class="panel-content">
                        <p class="text-center">
                            <span>UK</span>
                            <span style="font-size: 150%">x</span>
                            <span class="text-muted">WEI per SECOND</span>
                            <br/>
                            <span>USA</span>
                            <span style="font-size: 150%">x</span>
                            <span class="text-muted">WEI per SECOND</span>
                            <br/>
                            <span>India</span>
                            <span style="font-size: 150%">x</span>
                            <span class="text-muted">WEI per SECOND</span>
                        </p>
                    </div>
                    <div class="panel-footer">
                        <span class="text-muted">Domain:</span> {{ ::rateCard.domain }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>