<div class="mainWrapper">

    <div class="inner">

        <div class="welcome">Welcome to EtherTel</div>
        <div class="tagLine">An <a href="https://www.ethereum.org/">Ethereum</a> based payphone!</div>

        <div class="buttonWrapper" style="padding-top: 10px">
            <div class="payphoneButton">
                <a href="#/payphone" class="makeCall">Make a Call</a>
            </div>
            <div class="exchangeButton">
                <a href="#/exchange" class="buttonStyle">Exchange</a>
            </div>
            <div class="exchangeButton">
                <a href="#/providers" class="buttonStyle">Providers</a>
            </div>
        </div>
        
        
        
        
        
        

        <!--<div id="Overview">-->
        <!--        <ol>-->
        <!--            <li>"Make a Call" on the EtherTel payphone</li>-->
        <!--            <li>Select a destination, type the number to call, and the estimated mins of the call</li>-->
        <!--            <li>Once you have a quote, send the ether (in wei)</li>-->
        <!--            <li>On completion get the exchange will refund your unused ether (and pay the provider!)</li>-->
        <!--        </ol>-->

        <!--        <small>For this demo we have signed you in with a test account with plenty of ether!</small>-->
        <!--        <p>Check out the <a href="#/exchange">Exchange</a> for the latest rates!</p>-->

        <!--        <p><a href="#/providers">Providers</a> can sign in and see how many call seconds they are processing and-->
        <!--            adjust rates</p>-->
        <!--    </div>-->
        <!--</div>    -->
        <!--    </div>-->
        <!--    <div class="col-sm-4">-->
        <!--        <ul>-->
        <!--            <li><a href="https://github.com/andygray/ethertel/blob/master/dapp/contracts/RateEx.sol"-->
        <!--                   target="_blank">Rate Exchange Contract</a></li>-->
        <!--            <li><a href="https://github.com/andygray/ethertel/blob/master/dapp/contracts/RateCard.sol"-->
        <!--                   target="_blank">Rate Card Contract</a></li>-->
        <!--        </ul>-->
        <!--    </div>-->
        </div>
    </div>
</div>

<footer>
    <p class="text-center text-muted">Blockchain Provider: {{ MainController.http_provider }}</p>
</footer>

    <div id="Overview">
        <ol>
            <li>"Make a Call" on the EtherTel payphone</li>
            <li>Select a destination, type the number to call, and the estimated mins of the call</li>
            <li>Once you have a quote, send the ether (in wei)</li>
            <li>On completion get the exchange will refund your unused ether (and pay the provider!)</li>
        </ol>

       
    </div>
    
     <div class="checkOut">
            <p>For this demo we have signed you in with a test account with plenty of ether!</p>
            <p>Check out the <a href="#/exchange">Exchange</a> for the latest rates!</p>
            <p><a href="#/providers">Providers</a> can sign in and see how many call seconds they are processing and adjust rates</p>

            <div class="contracts">
                <ul>
                    <li><a href="https://github.com/andygray/ethertel/blob/master/dapp/contracts/RateEx.sol" target="_blank">Rate Exchange Contract</a></li>
                    <li><a href="https://github.com/andygray/ethertel/blob/master/dapp/contracts/RateCard.sol" target="_blank">Rate Card Contract</a></li>
                </ul>
                <br/>
                <p class="gitHub">GITHUB: <a href="https://github.com/andygray/ethertel/blob/master/README.md">README.md</a></p>
            </div>

        </div>
