<div class="mainWrapper">

    <div class="inner">

        <div class="welcome">Welcome to EtherTel</div>
        <div class="tagLine">An <a href="https://www.ethereum.org/">Ethereum</a> based payphone!</div>

        <div class="buttonWrapper">
            <div class="payphoneButton">
                <a href="#/payphone" class="makeCall btn-lg col-md-offset-1 col-md-4">Make a Call</a>
            </div>
            <div class="exchangeButton">
                <a href="#/exchange" class="buttonStyle btn-lg col-md-offset-2 col-md-4">Exchange</a>
            </div>
        </div>

    </div>
</div>

<footer>
    <p class="text-center text-muted">Blockchain Provider: {{ MainController.http_provider }}</p>
</footer>