<div class="jumbotron">
    <div class="container">
        <div class="col-sm-12 row">
            <h1 class="text-center" style="color: #82629D;">Welcome to EtherTel</h1>

            <p class="text-center">An <a href="https://www.ethereum.org/">Ethereum</a> based payphone!</p>

            <p class="text-center">
                <a href="#/payphone" class="btn btn-default btn-lg">Make a Call</a>
            </p>
        </div>
    </div>
</div>

<footer>
    <p class="text-center text-muted">Blockchain Provider: {{ MainController.http_provider }}</p>
</footer>