<div class="container mb-page">

    <div class="row">
        <div class="col-sm-12">

            <div class="row quote">
                <div class="col-sm-12">
                    <h3>All Rate Providers <span class="badge">{{ ProvidersController.rateCardCount || 0 }}</span></h3>
                    <hr/>
                    <div class="col-sm-6" ng-repeat="rateCard in ProvidersController.rateCards">
                        <div class="panel panelProvider">
                            <div class="panel-heading providerHead">
                                <h3 class="panel-title providerPane">{{ ::rateCard.name }}</h3>
                            </div>
                            <div class="panel-content">
                                <br/>

                                <div class="text-center loading" ng-show="!rateCard.destinations">
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                    <div class="loading-bar"></div>
                                </div>

                                <p class="text-center">
                                    <span ng-repeat="destination in rateCard.destinations">
                                        <span>{{::destination.name}} ({{::destination.countryCode}})</span>
                                        <span style="font-size: 150%">{{::destination.rate}}</span>
                                        <span class="text-muted">WEI per SECOND</span>
                                        <br/>
                                    </span>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <span class="text-muted">Domain:</span> {{ ::rateCard.domain }}
                                <span class="text-muted">Quality:</span> <span class="badge">{{ ::rateCard.quality }}</span>

                                <button class="btn-link"
                                        ng-show="rateCard.name"
                                        ng-click="ProvidersController.login(rateCard)">login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>